# Dash App Layout With Figure and Slider 

https://dash.plotly.com/basic-callbacks

In [1]:
# importrequired libraries 
from jupyter_dash import JupyterDash
import dash_core_components as dcc # for graphs
import dash_html_components as html # for html
from dash.dependencies import Input, Output # for callbacks
import plotly.express as px
import pandas as pd

In [2]:
# we'll use an external CSS style sheet
EXTERNAL_STYLESHEETS = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

In [3]:
# read data of statistics for countries from 1952 to 2007, at every 5 year interval
# for every country and year: population, life expectency, GDP per capita
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')
df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [4]:
df[df.country == "Romania"]

      country  year         pop continent  lifeExp     gdpPercap
1272  Romania  1952  16630000.0    Europe   61.050   3144.613186
1273  Romania  1957  17829327.0    Europe   64.100   3943.370225
1274  Romania  1962  18680721.0    Europe   66.800   4734.997586
1275  Romania  1967  19284814.0    Europe   66.800   6470.866545
1276  Romania  1972  20662648.0    Europe   69.210   8011.414402
1277  Romania  1977  21658597.0    Europe   69.460   9356.397240
1278  Romania  1982  22356726.0    Europe   69.660   9605.314053
1279  Romania  1987  22686371.0    Europe   69.530   9696.273295
1280  Romania  1992  22797027.0    Europe   69.360   6598.409903
1281  Romania  1997  22562458.0    Europe   69.720   7346.547557
1282  Romania  2002  22404337.0    Europe   71.322   7885.360081
1283  Romania  2007  22276056.0    Europe   72.476  10808.475610

In [5]:
# initialize the dash app
app = JupyterDash(__name__, external_stylesheets = EXTERNAL_STYLESHEETS )

In [6]:
# layout of the dashboard, without writing explicit html
app.layout = html.Div([
    dcc.Graph(id='graph-with-slider'),
    dcc.Slider(
        id='year-slider',
        min=df['year'].min(),
        max=df['year'].max(),
        value=df['year'].min(),
        marks={str(year): str(year) for year in df['year'].unique()},
        step=None
    )
])

In [7]:
# function ow to update the data at each callback
# note the code for function and the callback decorators must be together in the same cell
@app.callback(
    Output('graph-with-slider', 'figure'),
    Input('year-slider', 'value'))

def update_figure(selected_year):
    df_year = df[df.year == selected_year]

    fig = px.scatter(df_year,
                     x = "gdpPercap",
                     y = "lifeExp",
                     size = "pop",
                     color = "continent",
                     hover_name = "country",
                     log_x = True,
                     size_max = 55)

    fig.update_layout(transition_duration = 2) # does not work for the plot to evolove by itself

    return fig

In [8]:
# running the server 
app.run_server(mode = "inline")
#app.run_server(mode = "external")
#app.run_server(mode = "jupyterlab")